/**
 *
 * Hi. I am Nitish Kumar & soon you will come across my NineTails.
 * I am an upcoming developer & 
 * trying to be a frequent open source contributor.
 *
 * I build interactive projects.
 * Websites, Mobile App, Games etc ...
 *
 * How about some live coding?
 */

/**
 * Well, let's begin with some on-screen animation.
 */

* {
  -webkit-transition: all 1s;
}

/**
 * Hmm... Not enough. Let me try again.
 *
 * Black on white is really boring,
 * so let's do something about it.
 */

html {
  background: rgb(0, 0, 0);
}

/***
 * ohh... Let me fix this !
 */

pre, a {
  color: white;
}

/**
 * That's better. I hope now your eyes are at ease.
 *
 * Hmm ... 
 *
 * I think the viewport is really large.
 *
 * I'm going to make a nice area for us to play in.
 */

pre:not(:empty) {
  overflow: auto;
  background: rgb(48, 48, 48);
  border: 1px solid #ccc;
  width: 49%;
  font-size: 14px;
  font-family: monospace;
  padding: 1vh 0.5vw;
  box-shadow: -4px 4px 2px 0 rgba(0,0,0,0.3);
  white-space: pre-wrap;
  outline: 0;
  margin: 1vh 0.5vw;
}

/**
* Alright ...
 * Let's write some code.
 * You can pause the animation if required 
 * OR 
 * Just refresh the page to restart.
 */

#style-text {
  -webkit-transform: translateX(95%);
  position: absolute;
}

/**
 * This is good, but all the text is white!
 * Let's make it even more readable.
 */

.comment       { color: #857F6B; font-style: italic; }
.selector      { color: #E69F0F; }
.selector .key { color: #64D5EA; }
.key           { color: #64D5EA; }
.value         { color: #BE84F2; }
.value.px      { color: #F92772; }

/**
 * Now we're getting somewhere.
 * Time to talk some business.
 */

body {
  -webkit-perspective: 1000px;
}

#style-text {
  -webkit-transform: translateX(98.5%) rotateY(-10deg);
  -webkit-transform-origin: right;
  max-height: 93.1vh;
}

/**
 * So, let's talk about projects. That's why you're here, right?
 * I can't imagine you'd come just to see the pretty colors.
 */

pre:not(#style-text) {
  -webkit-transform: rotateY(10deg);
  -webkit-transform-origin: left;
}
